01. Raw to Landing.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "AzureBlobFSLocation",
                "fileSystem": "lmsfabricproject",
                "folderPath": "raw"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "externalReferences": {
              "connection": "d2a8c855-9570-4615-a85d-ab34ccf6bf04"
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "AzureBlobFSReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false,
            "modifiedDatetimeStart": {
              "value": "@startOfDay(utcNow())",
              "type": "Expression"
            },
            "modifiedDatetimeEnd": {
              "value": "@utcNow()",
              "type": "Expression"
            }
          },
          "formatSettings": {
            "type": "DelimitedTextReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Metadata",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get Metadata').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "4082446b-1098-b4c7-4245-722045139d03",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "today_file": {
                    "value": {
                      "value": "@item().name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "processed_date": {
                    "value": {
                      "value": "2026-05-17",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Raw to Landing",
              "dependsOn": []
            }
          ]
        },
        "name": "File Iteration",
        "dependsOn": [
          {
            "activity": "Get Metadata",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}